<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
############################ SnippetGenerator ##########################
# Filename	: MenuMapper.xml
# Description	: 메뉴
# author	: 고은비
# since	: 2022.05.31
########################################################################
-->
<mapper namespace="com.kakaopaycoding.eunbi.menu.MenuMapper">
    <select id="selectMenuAll" parameterType="Map" resultType="com.kakaopaycoding.eunbi.menu.MenuVo">
        SELECT
            A.MENU_ID     /*메뉴아이디*/
            , A.MENU_NAME     /*메뉴명*/
            , A.MENU_PRICE        /*가격*/
            , A.MENU_CTG        /*메뉴카테고리*/
            , A.MENU_NUM        /*메뉴순서*/
            , DATE_FORMAT(A.REG_DTM, '%y%m%d') as REG_DTM       /*등록일자*/
            , A.REG_ID        /*등록자*/
            , DATE_FORMAT(A.UPD_DTM, '%y%m%d') as UPD_DTM       /*수정일자*/
            , A.UPD_ID        /*수정자*/
        FROM TB_MENU_BASIC A
        WHERE 1=1
        AND A.USE_YN ='Y'
        ORDER BY A.MENU_CTG, A.MENU_NUM
    </select>

    <select id="selectMenuTopWeekly" parameterType="Map" resultType="com.kakaopaycoding.eunbi.menu.MenuVo">
        WITH ORDER_CNT_TOT as (
            SELECT
             A.MENU_ID
             , sum(A.ORDER_CNT) as ORDER_CNT_TOT
             , RANK() OVER( ORDER BY ORDER_CNT_TOT DESC) as ORDER_RANK
            FROM TB_ORDER_DTL A
            INNER JOIN TB_ORDER_BAS B ON A.ORDER_ID = B.ORDER_ID AND B.ORDER_STAT != '03'
            GROUP BY MENU_ID
        )
        SELECT
            A.MENU_ID     /*메뉴아이디*/
            , A.MENU_NAME     /*메뉴명*/
            , A.MENU_PRICE        /*가격*/
            , A.MENU_CTG        /*메뉴카테고리*/
            , A.MENU_NUM        /*메뉴순서*/
            , DATE_FORMAT(A.REG_DTM, '%y%m%d') as REG_DTM       /*등록일자*/
            , A.REG_ID        /*등록자*/
            , DATE_FORMAT(A.UPD_DTM, '%y%m%d') as UPD_DTM       /*수정일자*/
            , A.UPD_ID        /*수정자*/
            , NVL(B.ORDER_CNT_TOT, 0) AS ORDER_CNT_TOT
            , B.ORDER_RANK
        FROM TB_MENU_BASIC A
        LEFT OUTER JOIN ORDER_CNT_TOT B ON A.MENU_ID = B.MENU_ID
        WHERE 1=1
        AND USE_YN ='Y'
        ORDER BY B.ORDER_CNT_TOT DESC, A.MENU_CTG, A.MENU_NUM
        LIMIT 3
    </select>
</mapper>