<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
########################################################################
# Filename	: OrderMapper.xml
# Description	: 주문
# author	: 고은비
# since	: 2022.05.31
########################################################################
-->
<mapper namespace="com.kakaopaycoding.eunbi.order.OrderMapper">
    <select id="selectOrder" parameterType="Map" resultType="com.kakaopaycoding.eunbi.order.OrderVo">
        SELECT
            A.ORDER_ID      /*주문아이디*/
            , A.USER_ID     /*사용자아아디*/
            , A.ORDER_PRICE     /*주문총금액*/
            , A.ORDER_STAT      /*주문상태*/
            , DATE_FORMAT(A.ORDER_DATE, '%y%m%d') as ORDER_DATE       /*주문일자*/
            , DATE_FORMAT(A.REG_DTM, '%y%m%d') as REG_DTM       /*등록일자*/
            , A.REG_ID        /*등록자*/
            , DATE_FORMAT(A.UPD_DTM, '%y%m%d') as UPD_DTM       /*수정일자*/
            , A.UPD_ID        /*수정자*/
        FROM TB_ORDER_BAS A
        WHERE 1=1
        AND (#{orderId} is null OR A.ORDER_ID = #{orderId})
    </select>

    <insert id="insertOrder" parameterType="com.kakaopaycoding.eunbi.order.OrderVo" useGeneratedKeys="true" keyProperty="orderId" keyColumn="ORDER_ID">
        <selectKey resultType="string" keyProperty="orderId" order="BEFORE">
            select nextval(SEQ_ORDER_ID) from dual
        </selectKey>
        /*[OrderMapper.xml][insertOrder]*/
        INSERT INTO EUNBI.TB_ORDER_BAS (
            ORDER_ID
            , USER_ID
            , ORDER_PRICE
            , ORDER_STAT
            , ORDER_DATE
            , REG_ID
            , REG_DTM
            , UPD_ID
            , UPD_DTM
        ) VALUES (
            #{orderId}
            , #{userId}
            , #{orderPrice}
            , '01' /*01:주문접수*/
            , SYSDATE()/*DATE_FORMAT(SYSDATE(), '%y%m%d')*/
            , #{systemId}
            , SYSDATE()
            , #{systemId}
            , SYSDATE()
        );
    </insert>

    <insert id="insertOrderDtl" parameterType="map" useGeneratedKeys="true">
        /*[OrderMapper.xml][insertOrderDtl]*/
        INSERT INTO EUNBI.TB_ORDER_DTL (
            ORDER_ID
            , MENU_ID
            , ORDER_CNT
            , MENU_PRICE
            , MENU_PRICE_TOT
            , REG_ID
            , REG_DTM
            , UPD_ID
            , UPD_DTM
        )VALUES (
            #{orderId}
            , #{menuId}
            , #{orderCnt}
            , #{menuPrice}
            , #{menuPriceTot}
            , #{systemId}
            , SYSDATE()
            , #{systemId}
            , SYSDATE()
        )
    </insert>
    <update id="updateOrderStat" parameterType="map" >
        UPDATE EUNBI.TB_ORDER_BAS
        SET ORDER_STAT = #{orderStat}
        WHERE ORDER_ID = #{orderId};
    </update>

</mapper>